## Data types
This notebook will just go through the basic topics in order:

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets

### Numbers
There are three numeric types in Python:

   * int
   * float
   * complex

In [1]:
5 + 3

8

In [2]:
3 * 4

12

In [3]:
1 /2

0.5

In [4]:
2 ** 5

32

In [5]:
#The modulo operator % returns the remainder after dividing one number by another
4 % 2

0

In [6]:
#The modulo operator % returns the remainder after dividing one number by another
7 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment
Variables of numeric types are created when you assign a value to them:

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 3
y = 5

In [10]:
z = x + y

In [11]:
z

8

### Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'Python'

In [16]:
x

'Python'

In [17]:
print(x)

Python

### string formatting using format()

In [18]:
num = 26
name = 'juli'

In [19]:
# This is a template string {one} and {two} are placeholders
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 26, and my name is: juli

In [20]:
# using positional placeholders instead of named ones
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 26, and my name is: juli

### Lists
Lists are used to store multiple items in a single variable, and created using square brackets>
List items are ordered, changeable, and allow duplicate values.

In [21]:
[1,2,3]

[1, 2, 3]

In [24]:
list = ["apple", "banana", "cherry", "apple", "cherry"]
print(list)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [25]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [26]:
my_list = ['a','b','c']
my_list.append('d')  # adds a single element to the end of an existing list
my_list

['a', 'b', 'c', 'd']

In [27]:
# Note: The first item has index 0.
my_list[1]

'b'

In [30]:
# This example returns the items from the beginning to index item = 3, but NOT including, "kiwi":


your_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(your_list[:4])

['apple', 'banana', 'cherry', 'orange']

In [31]:
# This example returns the items from "cherry" to the end:
your_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(your_list[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
# To change the value of a specific item, refer to the index number:
your_list = ["apple", "banana", "cherry"]
your_list[1] = "blackcurrant"
print(your_list)

['apple', 'blackcurrant', 'cherry']

In [41]:
# A nested list is a list within another list 
# Think of it like boxes inside boxes
nest = [1,2,3,[4,5,['target']]]
nest[3]          # outer list

[4, 5, ['target']]

In [42]:
nest[3][2]       # inner list

['target']

In [43]:
nest[3][2][0]   # the value

'target'

### Dictionaries
   Dictionaries are used to store data values in key:value pairs, A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [44]:
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [45]:
d['key1']

'item1'

### Booleans
Booleans represent one of two values: True or False.

In [46]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Tuples 
A tuple is a collection which is ordered, Allow Duplicates and unchangeable, Tuples are written with round brackets.

In [47]:
t = (1,2,3)
t[0]

1

In [48]:
# unchangeable
t[0] = 5

TypeError: 'tuple' object does not support item assignment

### Sets
A set is a collection which is unordered, unchangeable, Duplicates Not Allowed,  and unindexed.

In [49]:
{1,2,3}

{1, 2, 3}

In [50]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

### Note
 for more about Data Type you can to learning about Them From other resourse

## Thank You